{% extends 'base.html' %}
{% block title %}Contact - ChesangLTD{% endblock %}

{% block content %}
<section class="contact-section">
  <h2>Contact Information</h2>
  <p>Reach out to us using the details below. We’re always ready to connect and collaborate.</p>

  <div class="contact-details">
    <p><strong>Email:</strong> chesangltd@gmail.com</p>
    <p><strong>Phone:</strong> +211 926 871 912</p>
    <p><strong>Location:</strong> Juba, South Sudan</p>
  </div>

  <div class="map-section">
    <h3>Visit Us</h3>

    <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d872.2800125680963!2d31.5815656594896!3d4.876870408745872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x171281a29d3c55b7%3A0x9b5fd71551f1790e!2sTrusted%20Clinic!5e1!3m2!1sen!2ske!4v1756924397903!5m2!1sen!2ske"
      width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy">
    </iframe>
  </div>
</section>
{% endblock %}
